# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
app/node_modules/
example/node_modules/
example/build/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

.DS_Store
/lib
/dist
/temp
.idea/
.rpt2_cache
package-lock.json
/cypress/videos
/cypress/parallel-weights.json
/cypress/screenshots
/cypress/fixtures
