example/
.circleci/
src/
test/
.babelrc
.flowconfig
.npmignore
yarn-error.log
yarn.lock
CONTRIBUTING.md
.eslintrc
jestConfig.json
.idea/
.rpt2_cache/
/lib
.coveralls.yml
jest.config.js
rollup.config.js
setup.ts
tsconfig.json
tsconfig.jest.json
/coverage
/website
.github
/docs
/examples
.eslintrc.js
CODE_OF_CONDUCT.md
