
.App-h1 {
  font-weight: 100;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}

.App-sub-heading {
  margin-bottom: 40px;
  color: #ec5990;
  text-align: center;
}

.App-h2:before,
.App-h2:after {
  background-color: #4f6294;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 35%;
}

.App-h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.App-h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.form-error-msg {
  font-size: 12px;
  color: #ec5990;
}

