.Setting {
  background: #bf1650;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 3;
  width: 20%;
  text-align: left;
  box-shadow: -5px 0px 9px 0px black;
  padding: 20px;
}

.Setting-line {
  border-top: 1px solid white;
}

.Setting-h2 {
  font-size: 40px;
  font-weight: 200;
  margin-top: 10px;
}

.Setting-h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.Setting-label {
  margin-bottom: 10px;
  display: block;
}

.Setting-label > input {
  margin-right: 10px;
}

.Setting-select {
  font-size: 16px;
  width: 100%;
}

.Setting form > input[type="submit"] {
  background: white;
}

.Setting-submit {
  margin-top: 30px;
  height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
