body {
  background-color: #081229;
}

.App {
  text-align: center;
  overflow: hidden;
  color: white;
  padding: 0 50px;
}

.App form > input {
  display: block;
  height: 30px;
  width: 500px;
}

.App code,
.App form {
  flex: 1
}
