body {
  background-color: #081229;
}

.App {
  overflow: hidden;
  color: white;
  padding: 0 50px;
  position: relative;
}

.App-h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 100;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}

.App-sub-heading {
  margin-bottom: 40px;
  color: #ec5990;
  text-align: center;
}

.App-h2:before,
.App-h2:after {
  background-color: #4f6294;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.App-h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.App-h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.App form > select,
.App form > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid white;
}

.App form > select {
  width: 100%;
}

.App form > select:not([multiple]) {
  height: 37px;
}

.App form > input.App-submit {
  background: #bf1650;
  height: 55px;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid transparent;
}

.App-radio-group {
  display: flex;
  margin-bottom: 20px;
}

.App-radio-group label {
  display: block;
  flex: 1;
}

.App code,
.App form {
  flex: 1;
}

.App code > h2 {
  text-align: center;
}

.App-setting {
  fill: #bf1650;
  position: absolute;
  right: 30px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: none;
  color: white;
  border: none;
}

.App-setting svg {
  width: 33px;
}

.App-build {
  fill: #bf1650;
  position: absolute;
  left: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: none;
  color: white;
  border: none;
}

.App-build svg {
  width: 33px;
}

.App form > input.form-error {
  border: 1px solid #bf1650;
}

.form-error-msg {
  font-size: 12px;
  color: #ec5990;
}
